{%include 'chef_header.html'%}

<!-- ======= Hero Section ======= -->
<section style="height: 89vh; background-image: url('/static/assets/img/chef.jpg'); background-size: cover; background-position: center; color: white;" id="hero" class="hero d-flex align-items-center section-bg">
  <div class="container">
    <div class="row justify-content-between gy-5">
      <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
        <h2 data-aos="fade-up" style="color: rgb(10, 10, 10);">Welcome Chef</h2>
        <p data-aos="fade-up" data-aos-delay="100" style="color: #111010;">A Recipes Has No Soul. You As The Cook, Must Bring Soul To The Recipe.</p>
        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
          <!-- <a href="#book-a-table" class="btn-book-a-table">Book a Table</a> -->
          <!-- <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span style="color: white;">Watch Video</span></a> -->
        </div>
      </div>
     <!--  <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
    
        <img src="/static/assets/img/chef.jpg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
      </div> -->
    </div>
  </div>
</section><!-- End Hero Section -->

<!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <p>Learn More <span>About Us</span></p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-7 position-relative about-img" style="background-image: url(/static/assets/img/uabout.jpg) ;" data-aos="fade-up" data-aos-delay="150">
          </div>
          <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                At FoodCon, chefs play a vital role in bringing the finest culinary experiences to our users. Whether you're a professional chef or an aspiring culinary expert, FoodCon gives you a platform to showcase your skills, share your knowledge, and connect with a passionate community of food lovers.
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i>As a chef on FoodCon, you have the opportunity to create and share your unique recipes, offer expert cooking tips, and provide users with step-by-step guidance through videos, blog posts, and live sessions.</li>
                <li><i class="bi bi-check2-all"></i> Your expertise adds immense value to the platform, helping users improve their cooking techniques and explore new flavors.</li>
                <li><i class="bi bi-check2-all"></i>FoodCon also allows chefs to interact directly with users, answering questions, offering personalized recommendations.</li>
              </ul>
              <p>
                FoodCon, you’re not only inspiring home cooks and food enthusiasts but also gaining visibility and recognition for your culinary expertise.

Join us in making cooking more accessible, enjoyable, and inspiring for people everywhere!
              </p>

              <div class="position-relative mt-4">
                <img src="/static/assets/img/about-2.jpg" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us section-bg">
  <div class="container" data-aos="fade-up">

    <div class="row gy-4">

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="why-box">
          <h3>Why Choose FoodCon?</h3>
          <p>
            FoodCon stands out by offering personalized recipe suggestions and diet plans tailored to individual preferences and dietary restrictions, thanks to machine learning algorithms. This unique feature ensures users get content that is relevant and suited to their tastes and health needs.

          </p>
          <div class="text-center">
            <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
          </div>
        </div>
      </div><!-- End Why Box -->

      <div class="col-lg-8 d-flex align-items-center">
        <div class="row gy-4">

          <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-clipboard-data"></i>
              <h4>Community and Social Engagement</h4>
              <p>FoodCon fosters a vibrant food-loving community where users can share recipes, tips, and culinary experiences</p>
            </div>
          </div><!-- End Icon Box -->

          <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-gem"></i>
              <h4>Real-Time Assistance</h4>
              <p>The platform offers real-time chatbot support, helping users with step-by-step instructions during cooking</p>
            </div>
          </div><!-- End Icon Box -->

          <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-inboxes"></i>
              <h4>Health and Wellness Focus</h4>
              <p>Health-conscious individuals by offering diet plans that align with their wellness goals</p>
            </div>
          </div><!-- End Icon Box -->

        </div>
      </div>

    </div>

  </div>
</section><!-- End Why Us Section -->

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Feedbacks</h2>
      <p>What Are They <span>Saying About Us</span></p>
    </div>

    <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    I love how FoodCon personalizes the recipes based on my preferences. I don’t have to spend time searching for dishes that match my dietary needs; the suggestions are always spot-on. It makes meal planning so much easier.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                  <h3>Saul Goodman</h3>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 text-center">
                <img src="/static/assets/img/testimonials/testimonials-1.jpg" class="img-fluid testimonial-img" alt="">
              </div>
            </div>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    The chatbot feature has been a lifesaver! I was unsure about a recipe once, and the chatbot helped me with substitutes for ingredients I didn’t have. It’s like having a personal assistant in the kitchen, and it’s made cooking fun and stress-free.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                  <h3>Sara Wilsson</h3>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 text-center">
                <img src="/static/assets/img/testimonials/testimonials-2.jpg" class="img-fluid testimonial-img" alt="">
              </div>
            </div>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    The platform isn’t just about recipes; it’s about community. I love reading the blogs, sharing my own, and engaging with other food lovers. It’s great to learn from others’ experiences and to share my own tips and ideas.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                  <h3>Jena Karlis</h3>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 text-center">
                <img src="/static/assets/img/testimonials/testimonials-3.jpg" class="img-fluid testimonial-img" alt="">
              </div>
            </div>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    I’m following a specific diet, and FoodCon makes it so easy to stick to it. The personalized meal plans consider my health goals, and the expert advice gives me confidence that I’m eating right. It’s a perfect mix of delicious and nutritious.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                  <h3>John Larson</h3>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 text-center">
                <img src="/static/assets/img/testimonials/testimonials-4.jpg" class="img-fluid testimonial-img" alt="">
              </div>
            </div>
          </div>
        </div><!-- End testimonial item -->

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section><!-- End Testimonials Section --> 

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact</h2>
          <p>Need Help? <span>Contact Us</span></p>
        </div>

        <div class="row gy-4">

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-map flex-shrink-0"></i>
              <div>
                <h3>Our Address</h3>
                <p>Kerala,Eranakulam 682011</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center">
              <i class="icon bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>nish@example.com</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+9177367714342</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-share flex-shrink-0"></i>
              <div>
                <h3>Share</h3>
              </div>
            </div>
          </div><!-- End Info Item -->

        </div>
  
        <form id="contact-form" class="php-email-form p-3 p-md-4" onsubmit="handleFormSubmit(event)">
          <div class="row">
            <div class="col-xl-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
            </div>
            <div class="col-xl-6 form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading" style="display:none;">Loading...</div>
            <!-- <div class="error-message" style="display:none;">There was an error sending your message.</div> -->
            <div class="sent-message" style="display:none;">Your message has been sent. We Will Connect YoU Shortly Thank you!</div>
          </div>
          <div class="text-center">
            <button type="submit">Send Message</button>
          </div>
        </form>
        
        <script type="text/javascript">
          function handleFormSubmit(event) {
            event.preventDefault();  // Prevents the form from refreshing the page
        
            // Show loading message
            document.querySelector('.loading').style.display = 'block';
        
            // Simulate form processing with a timeout
            setTimeout(function() {
              // Hide loading message
              document.querySelector('.loading').style.display = 'none';
        
              // Show success message
              document.querySelector('.sent-message').style.display = 'block';
        
              // Optionally, you could also clear the form
              document.getElementById('contact-form').reset();
            }, 1000); // Simulate a delay of 1 second
          }
        </script>
        

      </div>
    </section><!-- End Contact Section -->


</section><!-- End Hero Section -->


{%include 'footer.html'%}
