<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>FoodCon</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Yummy
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>FoodCon</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'public_home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          <li><a href="#contact">Recipe Generator</a></li>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>
 
 <!-- ======= Menu Section ======= -->
  <section id="menu" class="menu">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2 style="padding-left: 500px;;">Check Our Menu</h2>
      </div>

      <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

        <li class="nav-item">
          <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
            <h4>Starters</h4>
          </a>
        </li><!-- End tab nav item -->

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
            <h4>Breakfast</h4>
          </a><!-- End tab nav item -->

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
            <h4>Lunch</h4>
          </a>
        </li><!-- End tab nav item -->

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
            <h4>Dinner</h4>
          </a>
        </li><!-- End tab nav item -->

      </ul>

      <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

        <div class="tab-pane fade active show" id="menu-starters">

          <div class="tab-header text-center">
            <p>Menu</p>
            <h3>Starters</h3>
          </div>

          <div class="row gy-5">

            <div class="col-lg-4 menu-item">
              <a href="/static/assets/img/menu/smenu-item-1.png" class="glightbox"><img src="/static/assets/img/menu/smenu-item-1.png" class="menu-img img-fluid" alt=""></a>
              <h4>pazham pori</h4>
              <p class="ingredients">
                Ingredients:
2 ripe plantains (ethakka or nendram pazham, sliced lengthwise)
1 cup all-purpose flour
2 tablespoons rice flour (for extra crispiness)
1/4 teaspoon turmeric powder
              </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="/static/assets/img/menu/smenu-item-2.png" class="glightbox"><img src="/static/assets/img/menu/smenu-item-2.png" class="menu-img img-fluid" alt=""></a>
              <h4>Vegetable Cutlet</h4>
              <p class="ingredients">
                Ingredients:
For the Cutlet Mixture:

1 large potato (boiled and mashed)
1/2 cup mixed vegetables (carrots, peas, beans, finely chopped and steamed)
1/2 teaspoon ginger (finely grated)
              </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="/static/assets/img/menu/smenu-item-3.png" class="glightbox"><img src="/static/assets/img/menu/smenu-item-3.png" class="menu-img img-fluid" alt=""></a>
              <h4>Watermelon Juice</h4>
              <p class="ingredients">
                Ingredients:
                4 cups watermelon (cubed, seeds removed)
                1-2 teaspoons lemon juice (optional, for added tanginess)
                1-2 teaspoons sugar or honey (optional, adjust to taste)
                A pinch of salt (optional, for flavor)
                Ice cubes (optional, for serving)
                Fresh mint leaves (for garnish, optional)
              </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="/static/assets/img/menu/smenu-item-5.png" class="glightbox"><img src="/static/assets/img/menu/smenu-item-5.png" class="menu-img img-fluid" alt=""></a>
              <h4>Vegetable Soup</h4>
              <p class="ingredients">
                Ingredients:
1 tablespoon olive oil or butter
1 medium onion (chopped)
2 garlic cloves (minced)
1 large carrot (chopped)
1 celery stalk (chopped)
1 medium potato (diced)
1 zucchini or 1/2 cup green beans (chopped)
              </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="/static/assets/img/menu/smenu-item-4.png" class="glightbox"><img src="/static/assets/img/menu/smenu-item-4.png" class="menu-img img-fluid" alt=""></a>
              <h4>Orange Juice</h4>
              <p class="ingredients">
                Ingredients:
4-5 ripe oranges (for about 1-2 glasses of juice)
Ice cubes (optional)
1 teaspoon honey or sugar (optional, to taste)
A pinch of salt (optional, to enhance flavor)
Fresh mint leaves (for garnish, optional)
              </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="/static/assets/img/menu/smenu-item-6.png" class="glightbox"><img src="/static/assets/img/menu/smenu-item-6.png" class="menu-img img-fluid" alt=""></a>
              <h4>Cucumber Salad</h4>
              <p class="ingredients">
                Ingredients:
2 large cucumbers (thinly sliced)
1/4 red onion (thinly sliced, optional)
1-2 tablespoons fresh dill or parsley (chopped, optional)
              </p>
            </div><!-- Menu Item -->

          </div>
        </div><!-- End Starter Menu Content -->

        <div class="tab-pane fade" id="menu-breakfast">

          <div class="tab-header text-center">
            <p>Menu</p>
            <h3>Breakfast</h3>
          </div>

          <div class="row gy-5">

            <div class="col-lg-4 menu-item">
              <a href="/static/assets/img/menu/bmenu-item-1.png" class="glightbox"><img src="/static/assets/img/menu/bmenu-item-1.png" class="menu-img img-fluid" alt=""></a>
              <h4>Appam</h4>
              <p class="ingredients">
                Ingredients:
For the Batter:
1 cup raw rice (preferably parboiled rice)
1/4 cup cooked rice (for better fermentation)
1/2 teaspoon active dry yeast
1 tablespoon sugar
1/2 teaspoon salt
              </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="/static/assets/img/menu/bmenu-item-2.png" class="glightbox"><img src="/static/assets/img/menu/bmenu-item-2.png" class="menu-img img-fluid" alt=""></a>
              <h4>Idli</h4>
              <p class="ingredients">
                Ingredients:
For the Batter:
1 cup urad dal (black gram lentils)
2 cups idli rice (or parboiled rice)
1/2 teaspoon fenugreek seeds (optional)
Salt to taste
Water (as needed for soaking and grinding)
              </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="/static/assets/img/menu/bmenu-item-3.png" class="glightbox"><img src="/static/assets/img/menu/bmenu-item-3.png" class="menu-img img-fluid" alt=""></a>
              <h4>Dosa</h4>
              <p class="ingredients">
                Ingredients:
For the Batter:
1 cup urad dal (black gram lentils)
2 cups rice (preferably idli rice or parboiled rice)
1/2 teaspoon fenugreek seeds (optional)
Salt to taste
Water (as needed for soaking and grinding)
              </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="/static/assets/img/menu/bmenu-item-4.png" class="glightbox"><img src="/static/assets/img/menu/bmenu-item-4.png" class="menu-img img-fluid" alt=""></a>
              <h4>Puttu</h4>
              <p class="ingredients">
                Ingredients:
2 cups puttu rice flour (or regular rice flour)
1 cup grated fresh coconut (divided)
Salt to taste
Water (as needed)
              </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="/static/assets/img/menu/bmenu-item-5.png" class="glightbox"><img src="/static/assets/img/menu/bmenu-item-5.png" class="menu-img img-fluid" alt=""></a>
              <h4>Egg Curry</h4>
              <p class="ingredients">
                Ingredients:
4-6 eggs (boiled and peeled)
2 tablespoons oil (vegetable or coconut)
1 medium onion (finely chopped)
2 tomatoes (pureed or finely chopped)
1 tablespoon ginger-garlic paste
1-2 green chilies (slit, optional)
              </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="/static/assets/img/menu/bmenu-item-6.png" class="glightbox"><img src="/static/assets/img/menu/bmenu-item-6.png" class="menu-img img-fluid" alt=""></a>
              <h4>Kadala Curry</h4>
              <p class="ingredients">
                Ingredients:
                1 cup black chickpeas (kadala), soaked overnight
                2 tablespoons coconut oil (or any cooking oil)
                1 teaspoon mustard seeds
                1 teaspoon cumin seeds
                1 medium onion (finely chopped)
                2 green chilies (slit)
              </p>
            </div><!-- Menu Item -->

          </div>
        </div><!-- End Breakfast Menu Content -->

        <div class="tab-pane fade" id="menu-lunch">

          <div class="tab-header text-center">
            <p>Menu</p>
            <h3>Lunch</h3>
          </div>

          <div class="row gy-5">

            <div class="col-lg-4 menu-item">
              <a href="/static/assets/img/menu/lmenu-item-1.png" class="glightbox"><img src="/static/assets/img/menu/lmenu-item-1.png" class="menu-img img-fluid" alt=""></a>
              <h4>Briyani</h4>
              <p class="ingredients">
                Ingredients:
                For the Chicken Marinade:
                
                500 grams chicken (cut into pieces)
                1 cup yogurt
                2 tablespoons ginger-garlic paste
                1 tablespoon red chili powder (adjust to taste)
                1/2 teaspoon turmeric powder
              </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="/static/assets/img/menu/lmenu-item-2.png" class="glightbox"><img src="/static/assets/img/menu/lmenu-item-2.png" class="menu-img img-fluid" alt=""></a>
              <h4>Fish Curry</h4>
              <p class="ingredients">
                Ingredients:
500 grams fish (such as pomfret, tilapia, or salmon), cut into pieces
2 tablespoons coconut oil (or vegetable oil)
1 teaspoon mustard seeds
1/2 teaspoon cumin seeds
1-2 green chilies (slit)
1 medium onion (finely chopped)
              </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="/static/assets/img/menu/lmenu-item-3.png" class="glightbox"><img src="/static/assets/img/menu/lmenu-item-3.png" class="menu-img img-fluid" alt=""></a>
              <h4>Chicken Mandhi</h4>
              <p class="ingredients">
                Ingredients:
For the Chicken Marinade:

1 kg chicken (cut into pieces)
1 cup plain yogurt
1 tablespoon ginger-garlic paste
1 tablespoon mandhi spice mix (or a blend of ground cumin, coriander, turmeric, cardamom, and cinnamon)
              </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="/static/assets/img/menu/lmenu-item-4.png" class="glightbox"><img src="/static/assets/img/menu/lmenu-item-4.png" class="menu-img img-fluid" alt=""></a>
              <h4>Rice&Vegtables Curry</h4>
              <p class="ingredients">
                Ingredients:
For the Rice:

1 cup rice (any variety, like basmati or sona masoori)
2 cups water
Salt to taste
For the Sambar:

1 cup toor dal (pigeon peas)
3-4 cups mixed vegetables (carrot, potato, drumstick, eggplant, or any veggies you like)
1 medium onion (chopped)
2 medium tomatoes (chopped)
              </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="/static/assets/img/menu/lmenu-item-5.png" class="glightbox"><img src="/static/assets/img/menu/lmenu-item-5.png" class="menu-img img-fluid" alt=""></a>
              <h4>Chicken CUrry</h4>
              <p class="ingredients">
                Ingredients:
500 grams chicken (cut into pieces, with bone or boneless)
2 tablespoons oil (vegetable or coconut)
1 medium onion (finely chopped)
2-3 green chilies (slit, adjust to taste)
1 tablespoon ginger-garlic paste
              </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="/static/assets/img/menu/lmenu-item-6.png" class="glightbox"><img src="/static/assets/img/menu/lmenu-item-6.png" class="menu-img img-fluid" alt=""></a>
              <h4>Mambazha Pulissery</h4>
              <p class="ingredients">
                Ingredients:
2-3 ripe mangoes (preferably the variety that is sweet and tangy, such as Alphonso or Kesar)
1 cup yogurt (preferably slightly sour)
1/2 cup coconut (grated)
1 teaspoon cumin seeds
              </p>

            </div><!-- Menu Item -->

          </div>
        </div><!-- End Lunch Menu Content -->

        <div class="tab-pane fade" id="menu-dinner">

          <div class="tab-header text-center">
            <p>Menu</p>
            <h3>Dinner</h3>
          </div>

          <div class="row gy-5">

            <div class="col-lg-4 menu-item">
              <a href="/static/assets/img/menu/dmenu-item-1.png" class="glightbox"><img src="/static/assets/img/menu/dmenu-item-1.png" class="menu-img img-fluid" alt=""></a>
              <h4>Alfam</h4>
              <p class="ingredients">
                Ingredients:
500 grams chicken (preferably leg pieces, bone-in for more flavor)
For the Marinade:

1 cup plain yogurt
2 tablespoons ginger-garlic paste
2-3 tablespoons red chili powder (adjust to taste)
1 tablespoon turmeric powder
              </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="/static/assets/img/menu/dmenu-item-2.png" class="glightbox"><img src="/static/assets/img/menu/dmenu-item-2.png" class="menu-img img-fluid" alt=""></a>
              <h4>Porotta Beef</h4>
              <p class="ingredients">
                Ingredients:
For the Beef Curry:

500 grams beef (cut into small pieces, preferably with some fat)
2 tablespoons oil (coconut or vegetable)
2 medium onions (thinly sliced)
2-3 green chilies (slit, adjust to taste)
1 tablespoon ginger-garlic paste
2 medium tomatoes (chopped)
              </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="/static/assets/img/menu/dmenu-item-3.png" class="glightbox"><img src="/static/assets/img/menu/dmenu-item-3.png" class="menu-img img-fluid" alt=""></a>
              <h4>Dosa Omelette</h4>
              <p class="ingredients">
                Ingredients:
For the Dosa Batter:

1 cup rice (soaked for at least 4 hours)
1/2 cup urad dal (split black gram, soaked for at least 4 hours)
1/4 teaspoon fenugreek seeds (optional)
Salt to taste
Water (as needed)
              </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="/static/assets/img/menu/dmenu-item-4.png" class="glightbox"><img src="/static/assets/img/menu/dmenu-item-4.png" class="menu-img img-fluid" alt=""></a>
              <h4>Chicken Mandhi</h4>
              <p class="ingredients">
                Ingredients:
For the Chicken Marinade:

1 kg chicken (cut into pieces)
1/2 cup yogurt
2 tablespoons ginger-garlic paste
1 tablespoon ground cumin
              </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="/static/assets/img/menu/dmenu-item-5.png" class="glightbox"><img src="/static/assets/img/menu/dmenu-item-5.png" class="menu-img img-fluid" alt=""></a>
              <h4>Bread BeefStew</h4>
              <p class="ingredients">
                Ingredients:
                500 grams beef (cut into cubes, preferably with some fat)
                2 tablespoons oil (vegetable or olive oil)
                1 large onion (chopped)
                2-3 cloves garlic (minced)
                2 carrots (sliced)
                
              </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="/static/assets/img/menu/dmenu-item-6.png" class="glightbox"><img src="/static/assets/img/menu/dmenu-item-6.png" class="menu-img img-fluid" alt=""></a>
              <h4>Appam Eggcurry</h4>
              <p class="ingredients">
                Ingredients:
For the Appam:

1 cup raw rice (soaked for at least 4 hours)
1/4 cup cooked rice
1/2 teaspoon active dry yeast (optional, for fermentation)
1/2 teaspoon sugar
              </p>

            </div><!-- Menu Item -->

          </div>
        </div><!-- End Dinner Menu Content -->

      </div>

    </div>
  </section><!-- End Menu Section -->

  <footer id="footer" class="footer dark-background">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div class="address">
            <h3>Our Address</h3>
            <p>Kerala,Eranakulam 682011</p>
            <p></p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Contact</h4>
            <p>
              <strong>Phone:</strong> <span>+9177367714342</span><br>
              <strong>Email:</strong> <span>nish@example.com</span><br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <h4>Follow Us</h4>
          <div class="social-links d-flex">
            <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Yummy</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>