{% include 'admin_header.html'%}
<!-- ======= Stats Counter Section ======= -->
    <section style="height:300px" id="stats-counter" class="stats-counter">
      <div class="container" data-aos="zoom-out">
      	      	<br><br><br>
<h1 align="center" style="color: white;"> Rating</h1>
        <div class="row gy-4">
        	 </div></div>
</section>
<br><br><br>
<center>
    <table class="table" style="width:700px">
        <tr>
            <th>Slno</th>
            <th>Rating</th>
            <th>Review</th>
            <th>Date</th>
        </tr>

        {% for row in data.rating %}  <!-- Changed from data['rating'] to data.rating -->
        <tr>
            <td>{{ forloop.counter }}</td>  <!-- Use forloop.counter for indexing -->
            <td>{{ row.rated }}</td>  <!-- Changed dictionary access to attribute style -->
            <td>{{ row.review }}</td>  <!-- Changed dictionary access to attribute style -->
            <td>{{ row.date }}</td>  <!-- Changed dictionary access to attribute style -->
        </tr>
        {% endfor %}
    </table>
</center>

</form>
<br><br><br><br><br>
         
{% include 'footer.html' %}